* {
background-color: darkseagreen;
color: darkslategrey;
box-sizing: border-box;
}

h1 {
    border: darkturquoise;
    border-style: solid;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    text-decoration: none;
}

ul li:nth-child(odd){
    background-color: cadetblue;
}

ul li.checked {
    background-color: darkcyan;
    text-decoration: line-through;
}

.header {
    padding: 30px 40px;
    text-align: center;
}

#deleteBtn {
    position: relative;
    margin-left: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: darkslategray;
}